{% import 'macros/section_title.html.jinja2' as m_title %}

<div class="section" id="general">
    {{ m_title.display_title("Perun Performance Report", "general", notes_enabled=notes_enabled) }}
    <p>Perun version: v{{ perun_version }}</p>
    <p>Generated on: {{ timestamp }}</p>
</div>