{% import 'macros/comparison_table.html.jinja2' as m_tables %}
{% import 'macros/titles.html.jinja2' as titles %}
{% import 'macros/rating_slider.html.jinja2' as summary_tools %}
{% import 'macros/traces_selection.html.jinja2' as traces_selection %}

{% set STATS_NOTE_TITLE = "summary" %}

<div class="section" id="summary">

    <div class="comparison_container">

        {% set metric_names = [
            'Total Inclusive Samples  [#] (value)',
            'bogo-ops-per-second-real-time [op/s] (value)',
            'Longest Profile Trace [#] (value)',
            'Longest Flame Graph Trace [#] (value)'
            ]
        %}
        {% set number_of_summary_metrics = 3 %}

        {% set ns = namespace(count=1) %}
        {% for metric in metric_names[:number_of_summary_metrics] %}

            {% set l_fg_sample = (lhs_fg_stats | selectattr(0, 'in', metric) | list | first) %}
            {% set r_fg_sample = (rhs_fg_stats | selectattr(0, 'in', metric) | list | first) %}

            {% set l_user_sample = (lhs_user_stats | selectattr(0, 'in', metric) | list | first) %}
            {% set r_user_sample = (rhs_user_stats | selectattr(0, 'in', metric) | list | first) %}

            {% if l_fg_sample and r_fg_sample %}
                {{ summary_tools.rating_slider(ns.count, metric, l_fg_sample, r_fg_sample) }}
                {% set ns.count = ns.count + 1 %}
            {% endif %}

            {% if l_user_sample and r_user_sample %}
                {{ summary_tools.rating_slider(ns.count, metric, l_user_sample, r_user_sample) }}
                {% set ns.count = ns.count + 1 %}
            {% endif %}

        {% endfor %}

    </div>

    <div class="comparison_container">
        {{ traces_selection.select_top_x_traces1(5, 'Baseline-Only', traces_test) }}

        {{ traces_selection.select_top_x_traces2(5, 'Common', traces_test) }}

        {{ traces_selection.select_top_x_traces3(5, 'Target-Only', traces_test) }}
    </div>
</div>