{% if mode == 'time' %}
{% include 'pintool-time.jinja2' %}
{% elif mode == 'memory' %}
{% include 'pintool-memory.jinja2' %}
{% elif mode == 'instructions' %}
{% include 'pintool-instructions.jinja2' %}
{% endif %}