<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <style>
        .column {
            width: 46%;
            margin: 0 2%;
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    </style>
</head>
<body>

<div class="left column">
    <h2>{{ lhs_tag }}</h2>
    <table id="table1" class="display">
        <thead>
            <tr>
                {% for column in lhs_columns %}
                <th>{{ column }}</th>
                {%- endfor %}
            </tr>
        </thead>
        <tbody>
            {% for val in lhs_data %}
            <tr>
                <td>{{ val.uid }}</td>
                <td>{{ val.abs_amount }}</td>
                <td>{{ val.rel_amount }}</td>
                <td>{{ val.short_trace }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>

<div class="right column">
    <h2>{{ rhs_tag }}</h2>
    <table id="table2" class="display">
        <thead>
        <tr>
            {% for column in rhs_columns %}
                <th>{{ column }}</th>
            {%- endfor %}
        </tr>
        </thead>
        <tbody>
        {% for val in rhs_data %}
            <tr>
                <td>{{ val.uid }}</td>
                <td>{{ val.abs_amount }}</td>
                <td>{{ val.rel_amount }}</td>
                <td>{{ val.short_trace }}</td>
            </tr>
        {%- endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
        new DataTable("#table1", {
            order: [[3, "asc"]],
        });
        new DataTable("#table2", {
            order: [[3, "asc"]]
        });
    });
</script>

</body>
</html>