<div id="navigation-side-panel" class="side-panel navigation-panel">

    {% set navigation_contents = [
        ("environment", "environment", "Environment"),
        ("flame", "fire", "Flame Graphs"),
        ("traces", "trace", "Traces Table"),
        ("profile-vulnerabilities", "vulnerabilities", "Vulnerabilities"),
        ("profile-stats", "stats", "Profile Stats"),
        ("profile-metadata", "metadata", "Profile Metadata")
    ] %}

    {% for href_id, svg_name, display_title in navigation_contents %}
        <a href="#{{ href_id }}">
            <span class="full_visible fully_centered">
                {% include 'assets/' ~ svg_name ~ '.svg' %}
            </span>
            <span class="side-panel__description">{{ display_title }}</span>
        </a>
    {% endfor %}

    <a id="navigation-panel__submenu--trigger" class="">
        <span class="full_visible fully_centered">
            {% include 'assets/link.svg' %}
        </span>
        <span class="side-panel__description">Links</span>
    </a>
</div>

<div id="navigation-panel__submenu--links" class="navigation-panel__submenu">
    <a href="https://github.com/Perfexionists/perun" target="_blank">Perun Repository</a>
    <a href="https://github.com/brendangregg/FlameGraph" target="_blank">Flame Graphs</a>
    {% for link, link_title in links %}
        <a href="{{ link }}" target="_blank">{{ link_title }}</a>
    {% endfor %}
</div>
