<div id="themes_sidepanel" class="side-panel side-panel__themes">
    <span>
        {% include 'assets/moon_hollow.svg' %}
    </span>

    <span>
        {% include 'assets/moon_filled.svg' %}
    </span>

    <span>
        {% include 'assets/stylus.svg' %}
    </span>

   <!--<div class="side-panel__themes--cards">
       <div class="side-panel__themes--single_card" data-theme="light">
           Light theme
       </div>
       <div class="side-panel__themes--single_card" data-theme="dark">
           Dark theme
       </div>
   </div>-->
</div>