<div class="side-panel__themes">
    <span>
        {% include 'assets/eye.svg' %}
    </span>

   <div class="side-panel__themes--cards">
       <div class="side-panel__themes--single_card">
           <a>Light theme</a>
       </div>
       <div class="side-panel__themes--single_card">
           Dark theme
       </div>
       <div class="side-panel__themes--single_card">
           Colorblind theme
       </div>
   </div>
</div>