<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .column {
            width: 45%;
            margin: 0 2%;
            float: left;
        }
        .clear {
            clear: both;
        }
    </style>
</head>
<body>

<div class="column">
    {{ lhs_flamegraph }}
</div>

<div class="column">
    {{ rhs_flamegraph }}
</div>

<div class="clear"></div>

</body>
</html>
