<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        html {
            font-family: "Courier New", Courier, monospace;
        }
        .column {
            width: 48%;
            margin: 0 1%;
            float: left;
        }
        .column-head {
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            text-align: center;
        }
        .clear {
            clear: both;
        }
    </style>
</head>
<body>

<div class="column">
    <h2 class="column-head">{{ lhs_tag }}</h2>
    {{ lhs_flamegraph }}
</div>

<div class="column">
    <h2 class="column-head">{{ rhs_tag }}</h2>
    {{ rhs_flamegraph }}
</div>

<div class="clear"></div>

</body>
</html>
