<script>
    {% if flamegraphs %}

        const LEFT_FLAMEGRAPH = "lhs";

        // Search logic for both mouseover and search bar
        searchBar = document.getElementById("flamegraph_search_all");

        {% for index in range(0, flamegraphs|length) %}
            function searchCallback{{index}}() {
                let searchTerm = searchBar.value.trim();

                lhs_{{index}}_reset_search();
                if (searchTerm !== "") {
                    lhs_{{index}}_currentSearchTerm = searchBar.value;
                    lhs_{{index}}_search();
                }

                rhs_{{index}}_reset_search();
                if (searchTerm !== "") {
                    rhs_{{index}}_currentSearchTerm = searchBar.value;
                    rhs_{{index}}_search();
                }

                lhs_diff_{{index}}_reset_search();
                if (searchTerm !== "") {
                    lhs_diff_{{index}}_currentSearchTerm = searchBar.value;
                    lhs_diff_{{index}}_search();
                }

                rhs_diff_{{index}}_reset_search();
                if (searchTerm !== "") {
                    rhs_diff_{{index}}_currentSearchTerm = searchBar.value;
                    rhs_diff_{{index}}_search();
                }
            }
            if (searchBar) {
                searchBar.addEventListener('input', searchCallback{{index}});
                searchBar.addEventListener('keypress', function (e) {
                    if (e.key === 'Enter') {
                        searchCallback{{index}}();
                        this.blur();
                    }});
            }

            ["lhs", "rhs", "lhs_diff", "rhs_diff"].forEach(type => {
                document.querySelectorAll(`#${type}_{{ index }}_frames g`).forEach(node => {
                    node.addEventListener("mouseenter", function () {
                        const textElement = node.querySelector("title");

                        if (textElement && textElement.innerHTML) {
                            let searchTerm = cleanTitle(textElement.innerHTML);

                            window[`lhs_{{index}}_search_hover`](searchTerm);
                            window[`rhs_{{index}}_search_hover`](searchTerm);
                            window[`lhs_diff_{{index}}_search_hover`](searchTerm);
                            window[`rhs_diff_{{index}}_search_hover`](searchTerm);
                        }
                    });

                    node.addEventListener("mouseleave", function () {
                        window[`lhs_{{index}}_reset_search_hover`]();
                        window[`rhs_{{index}}_reset_search_hover`]();
                        window[`lhs_diff_{{index}}_reset_search_hover`]();
                        window[`rhs_diff_{{index}}_reset_search_hover`]();
                    });
                });
            });

        {% endfor%}

        function resetFlamegraphAll(type) {
            {% for index in range(0, flamegraphs|length) %}
                ["lhs", "rhs", "lhs_diff", "rhs_diff"].forEach(variation => {
                    const id_clickable = `${variation}_{{ index }}_${type}`;
                    const element = document.getElementById(id_clickable);
                    if (!element) return;

                    if (type === "search") {
                        searchBar.value = "";
                        if (element.classList.contains("show")) {
                            element.dispatchEvent(new Event("click", { bubbles: true }));
                        }
                    } else if (type === "unzoom") {
                        if (!element.classList.contains("hide")) {
                            element.dispatchEvent(new Event("click", { bubbles: true }));
                        }
                    }
                });
            {% endfor %}
        }

        const resetSearchBtn = document.getElementById("flamegraph_search_reset_all");
        if (resetSearchBtn) {
            resetSearchBtn.addEventListener("click", () => resetFlamegraphAll("search"));
        }

        const resetZoomBtn = document.getElementById("flamegraph_zoom_reset_all");
        if (resetZoomBtn) {
            resetZoomBtn.addEventListener("click", () => resetFlamegraphAll("unzoom"));
        }



        // Different types of flamegraph ordering switch
        const visualizationSwitch = document.getElementById("flamegraph_visualization_switch");
        visualizationSwitch.addEventListener("click", function () {
            const elements = document.querySelectorAll(".comparison_container_stacked");

            elements.forEach(element => {
                const currentDirection = window.getComputedStyle(element).flexDirection;
                if (currentDirection === "row") {
                    element.style.flexDirection = "column";
                } else {
                    element.style.flexDirection = "row";
                }
            });

            visualizationSwitch.querySelectorAll(".svg_switch_container").forEach(svg => {
                svg.classList.toggle("hidden");
                svg.classList.toggle("visible");
            });
        });

        function cleanTitle(title) {
            // strips the number of samples from the function names. Keeps the opening parenthesis symbol '('
            // to ensure exact match.
            let index = title.search(/\(\d/);
            if (index !== -1) {
                title = title.slice(0, index) + '(';
            }
            return title;
        }
    {% endif %}
</script>