<script>
    const flamegraphBackgrounds = {
        light:  { start: "#eeeeee", end: "#eeeeb0" },
        dark:   { start: "#8f8f8f", end: "#7a7a4f" },
        mono: { start: "#d9d9d9", end: "#b0b0b0" },
    };

    const LIGHT = 'light';
    const DARK = 'dark';
    const MONOCHROMATIC = 'mono';
    const themes = [LIGHT, DARK, MONOCHROMATIC];

    let default_theme_js = LIGHT;
    {% if default_theme %}
        default_theme_js = "{{ default_theme }}";
    {% endif %}

    const originalFills = new WeakMap();

    const themesSidepanel = document.getElementById('themes_sidepanel');
    const themeIcons = themesSidepanel ? themesSidepanel.querySelectorAll('span') : [];

    function applyTheme(theme) {
        document.body.classList.remove(`${LIGHT}-theme`, `${DARK}-theme`, `${MONOCHROMATIC}-theme`);
        document.body.classList.add(`${theme}-theme`);
        localStorage.setItem('theme', theme);
        themesSidepanel.setAttribute('data-theme', theme);
        updateIcons(theme);

        {% if flamegraphs %}
            applyThemeForFlamegraph(theme);
        {% endif %}
    }

    function nextTheme(currentTheme) {
        const currentIndex = themes.indexOf(currentTheme);
        return themes[(currentIndex + 1) % themes.length];
    }

    function updateIcons(currentTheme) {
        if (!themeIcons.length) return;
        const index = themes.indexOf(currentTheme);

        themeIcons.forEach((icon, i) => {
            icon.style.display = i === index ? 'inline' : 'none';
        });
    }

    if (themesSidepanel) {
        themesSidepanel.addEventListener('click', () => {
            const currentTheme = themesSidepanel.getAttribute('data-theme') || default_theme_js;
            const newTheme = nextTheme(currentTheme);
            applyTheme(newTheme);
            updateIcons(newTheme);
        });
    }

    const savedTheme = localStorage.getItem('theme') || default_theme_js;
    applyTheme(savedTheme);

    {% if flamegraphs %}

        function rgbToMonoChromatic(rgbString) {
            // converting color to monochromatic using luminosity method
            const match = rgbString.match(/rgb\((\d+),\s*(\d+),\s*(\d+)\)/);
            if (!match) return rgbString;
            const [_, r, g, b] = match.map(Number);
            let gray = Math.round(0.299 * r + 0.587 * g + 0.114 * b);
            const minGray = 100;
            const maxGray = 220;
            // this is done to get not as dark rectangles so that title is clear
            gray = Math.round(minGray + (gray / 255) * (maxGray - minGray));
            return `rgb(${gray}, ${gray}, ${gray})`;
        }

        function applyThemeForFlamegraph(theme) {
            {% for index in range(0, flamegraphs|length) %}
                ["lhs", "rhs", "lhs_diff", "rhs_diff"].forEach(type => {
                    const gradient = document.getElementById(`${type}_{{ index }}_background`);
                    if (gradient) {
                        const stops = gradient.querySelectorAll("stop");
                        if (stops.length >= 2) {
                            stops[0].setAttribute("stop-color", flamegraphBackgrounds[theme].start);
                            stops[1].setAttribute("stop-color", flamegraphBackgrounds[theme].end);
                        }
                    }

                    const flamegraph_frames = document.getElementById(`${type}_{{ index }}_frames`);
                    if (!flamegraph_frames) return;

                    const rects = flamegraph_frames.querySelectorAll("rect");
                    rects.forEach(rect => {
                        const fill = rect.getAttribute("fill");
                        if (!fill || fill.startsWith("url(")) return;

                        if (!originalFills.has(rect)) {
                            originalFills.set(rect, fill);
                        }

                        if (theme === MONOCHROMATIC) {
                            rect.setAttribute("fill", rgbToMonoChromatic(fill));
                        } else {
                            const original = originalFills.get(rect);
                            if (original) rect.setAttribute("fill", original);
                        }
                    });
                });
            {% endfor %}
        }

    {% endif %}
</script>