<script>
    const flamegraphBackgrounds = {
            light:  { start: "#eeeeee", end: "#eeeeb0" },
            dark:   { start: "#8f8f8f", end: "#7a7a4f" },
    };

    const LIGHT = 'light';
    const DARK = 'dark';
    const MONOCHROMATIC = 'monochromatic';
    const themes = [LIGHT, DARK, MONOCHROMATIC];

    const themesSidepanel = document.getElementById('themes_sidepanel');
    const themeIcons = themesSidepanel ? themesSidepanel.querySelectorAll('span') : [];

    function applyTheme(theme) {
        document.body.classList.remove(`${LIGHT}-theme`, `${DARK}-theme`, `${MONOCHROMATIC}-theme`);
        document.body.classList.add(`${theme}-theme`);
        localStorage.setItem('theme', theme);
        themesSidepanel.setAttribute('data-theme', theme);
        updateIcons(theme);

        {% if flamegraphs %}
            applyThemeForFlamegraph(theme);
        {% endif %}
    }

    function nextTheme(currentTheme) {
        const currentIndex = themes.indexOf(currentTheme);
        return themes[(currentIndex + 1) % themes.length];
    }

    function updateIcons(currentTheme) {
        if (!themeIcons.length) return;
        const next = nextTheme(currentTheme);
        const index = themes.indexOf(next);

        themeIcons.forEach((icon, i) => {
            icon.style.display = i === index ? 'inline' : 'none';
        });
    }

    if (themesSidepanel) {
        themesSidepanel.addEventListener('click', () => {
            const currentTheme = themesSidepanel.getAttribute('data-theme') || LIGHT;
            const newTheme = nextTheme(currentTheme);
            applyTheme(newTheme);
        });
    }

    const savedTheme = localStorage.getItem('theme') || LIGHT;
    applyTheme(savedTheme);

    {% if flamegraphs %}

        function applyThemeForFlamegraph(theme) {
            {% for index in range(0, flamegraphs|length) %}
                ["lhs", "rhs", "lhs_diff", "rhs_diff"].forEach(type => {
                    const gradient = document.getElementById(`${type}_{{ index }}_background`);
                    if (gradient) {
                        const stops = gradient.querySelectorAll("stop");
                        if (stops.length >= 2) {
                            stops[0].setAttribute("stop-color", flamegraphBackgrounds[theme].start);
                            stops[1].setAttribute("stop-color", flamegraphBackgrounds[theme].end);
                        }
                    }
              });
            {% endfor %}
        }

    {% endif %}
</script>