"""TODO: Write short docstring of the new degradation check

TODO: Write long dosctring of the new degradation check
"""

from perun import check as check


def {{ unit_name }}(baseline_profile, target_profile):
    """

    :param baseline_profile: baseline against which we are checking the degradation
    :param target_profile: profile corresponding to the checked minor version
    :returns: tuple (degradation result, degradation location, degradation rate)
    """
    yield check.DegradationInfo("TODO: Implement this")