"""TODO: Write short docstring of the new collector

TODO: Write long docstring of the new collector
"""

COLLECTOR_TYPE = "{{ profile_type }}"
COLLECTOR_DEFAULT_UNITS = {
    "TODO: add type": "TODO: add type unit"
}