"""TODO: Write short docstring of the new postprocessor

TODO: Write long docstring of the new postprocessor
"""

COLLECTOR_TYPE = "{{ profile_type }}"
COLLECTOR_DEFAULT_UNITS = {
    "TODO: add type": "TODO: add type unit"
}

{% if author is defined %}
__author__ = '{{ author }}'
{% endif %}