{% import 'macros_profile_overview.html.jinja2' as profile_overview %}
{% import 'macros_accordion.html.jinja2' as accordion %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        html {
            font-family: "Courier New", Courier, monospace;
        }
        .column {
            width: 48%;
            margin: 0 1%;
            justify-content: center;
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        .column-head {
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            text-align: center;
        }
        .clear {
            clear: both;
        }

        .svg-container {
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            vertical-align: top;
            overflow: hidden;
        }

        .svg-content {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }
        .help {
            border-top: 1px solid #ddd;
            margin: 0 auto 2em auto;
            text-align: center;
        }
        .help ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .help ul li {
            margin: 0;
            padding: 0;
        }
        {{ profile_overview.css_style() }}
        {{ accordion.css_style() }}
    </style>
</head>
<body>

<div class="left column">
    <h2 class="column-head">{{ lhs_tag }}</h2>
    {{ profile_overview.overview_table('toggleLeftCollapse', 'left-info', lhs_header, rhs_header) }}
    {{ profile_overview.top_n_table('toggleLeftTopCollapse', 'left-top', lhs_top, rhs_uids, "tgt") }}
    <div class='svg-container'>
    {{ lhs_flamegraph }}
    </div>
</div>

<div class="right column">
    <h2 class="column-head">{{ rhs_tag }}</h2>
    {{ profile_overview.overview_table('toggleRightCollapse', 'right-info', rhs_header, lhs_header) }}
    {{ profile_overview.top_n_table('toggleRightTopCollapse', 'right-top', rhs_top, lhs_uids, "base") }}
    <div class='svg-container'>
        {{ rhs_flamegraph }}
    </div>
</div>

<div class="clear"></div>

<div class="help">
    <h2>Help</h2>
    <ul>
        <li>> Click on the square to nested into selected trace.</li>
        <li>> The size of the rectangle represents relative consumption with respect to parent.</li>
        <li>> The color of the rectangle represents nothing.</li>
        <li>> Use <it>reset zoom</it> (top left) to return to original view.</li>
        <li>> Use <it>search</it> (top right) to highlight selected functions.</li>
    </ul>
</div>

<script>
{{ profile_overview.toggle_script('toggleLeftCollapse', 'left-info') }}
{{ profile_overview.toggle_script('toggleLeftTopCollapse', 'left-top') }}
{{ profile_overview.toggle_script('toggleRightCollapse', 'right-info') }}
{{ profile_overview.toggle_script('toggleRightTopCollapse', 'right-top') }}
{{ accordion.script("table-row") }}
</script>

</body>
</html>
