{% import 'ssp_table.html.jinja2' as property_generator %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        {% if not offline %}
            <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% else %}
            {% include 'jquery-3.6.0.min.js' %}
        {% endif %}


        <style>
            {% include 'style/general_setup.css' %}
            {% include 'style/layout.css' %}

            {% include 'style/pins.css' %}
            {% include 'style/tooltip.css' %}

            {% include 'style/flamegraphs.css' %}
            {% include 'style/traces_table.css' %}

            .section {
                margin-bottom: 30px;
            }
        </style>
</head>
<body>
    <div class="section" id="general">
        {{ property_generator.display_title("Perun Performance Analysis", "general", notes_enabled=notes_enabled) }}
        <p>Perun version: v{{ perun_version }}</p>
        <p>Generated on: {{ timestamp }}</p>
    </div>

    <!-- FLAME GRAPHS -->
    {% set flame_graphs_info = "Look for the topmost widest rectangle.
                    Clicking on a node will zoom the flamegraph for easier exploration.
                    Colours are picked randomly (but uniformly); they don't signal any scale.
                    The bigger the rectangle the more often the UID was seen on the stack.
                    The higher the flame the more nested calls were made in the context." %}

    <div id="flame" class="section">

        {{ property_generator.display_title("Flame Graphs", "flame graphs", flame_graphs_info, notes_enabled) }}

        <div class="flamegraph_search_box" style="gap: 70px; margin-top: 30px;">
            <div class="flamegraph_search_box">
                <span>Layout: </span>
                <span id="flamegraph_visualization_switch" class="visualization_icon">
                    <span class="svg_switch_container visible">
                        {% include 'assets/grid_view.svg' %}
                    </span>
                    <span class="svg_switch_container hidden">
                        {% include 'assets/row_view.svg' %}
                    </span>
                </span>
            </div>

            <div class="flamegraph_search_box">
                <label for="flamegraph_search_all" class="flamegraph_search_input_label">Global Search:</label>
                <input id="flamegraph_search_all" class="dt-input" />
                <button id="flamegraph_search_reset_all" class="dt-paging-button">Reset Global Search</button>
                <button id="flamegraph_zoom_reset_all" class="dt-paging-button">Reset Global Zoom</button>
            </div>
        </div>

        {%- for (metric, lhs_flamegraph, rhs_flamegraph, lhs_diff_flamegraph, rhs_diff_flamegraph) in flamegraphs %}

            <div class="comparison_container comparison_container_non_scale comparison_container_stacked">
                <div class="left column column_non_scale column_extended">
                    <div class='svg-container' id="flame_{{ loop.index0 }}_baseline">
                    {{ lhs_flamegraph }}
                    </div>
                </div>
                <div class="right column column_non_scale column_extended">
                    <div class='svg-container' id="flame_{{ loop.index0 }}_target">
                    {{ rhs_flamegraph }}
                    </div>
                </div>
            </div>

            <div class="comparison_container comparison_container_non_scale comparison_container_stacked">
                <div class="left column column_non_scale column_extended" style="margin-top: 1%">
                    <div class='svg-container' id="flame_diff_{{ loop.index0 }}_baseline">
                    {{ lhs_diff_flamegraph }}
                    </div>
                </div>
                <div class="right column column_non_scale column_extended" style="margin-top: 1%">
                    <div class='svg-container' id="flame_diff_{{ loop.index0 }}_target">
                    {{ rhs_diff_flamegraph }}
                    </div>
                </div>
            </div>
        {%- endfor %}
    </div>

    <!-- PROFILE STATS -->
    {% include 'ssp_sections/section_profile_stats.html.jinja2' %}


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".general-property").forEach((property) => {
                const toggleArrow = property.querySelector(".toggle-arrow");
                const generalValues = property.querySelector(".general-values");

                generalValues.style.height = "auto";

                toggleArrow.addEventListener("click", () => {
                    if (generalValues.classList.contains("collapsed")) {
                        generalValues.classList.remove("collapsed");
                        generalValues.style.height = `${generalValues.scrollHeight}px`;
                        toggleArrow.classList.remove("collapsed");
                    } else {
                        generalValues.style.height = `${generalValues.scrollHeight}px`;
                        requestAnimationFrame(() => {
                            generalValues.style.height = "0";
                        });
                        generalValues.classList.add("collapsed");
                        toggleArrow.classList.add("collapsed");
                    }
                });

                generalValues.addEventListener("transitionend", () => {
                    if (!generalValues.classList.contains("collapsed")) {
                        generalValues.style.height = "auto";
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const section_guide = document.createElement("div");
            section_guide.classList.add("section_guide");
            document.body.appendChild(section_guide);

            document.addEventListener("mouseover", function (event) {
                const target = event.target.closest(".info-icon__header");
                if (target) {
                    section_guide.innerHTML = target.getAttribute("data-tooltip")
                        .trim()
                        .split("\n")
                        .map((line, index) => `[${index + 1}] ${line.trim()}`)
                        .join("<br><br>");
                    section_guide.classList.add("visible");
                    section_guide.style.left = event.pageX + 10 + "px";
                    section_guide.style.top = event.pageY + 10 + "px";
                }
            });

            document.addEventListener("mousemove", function (event) {
                if (section_guide.classList.contains("visible")) {
                    section_guide.style.left = event.pageX + 10 + "px";
                    section_guide.style.top = event.pageY + 10 + "px";
                }
            });

            document.addEventListener("mouseout", function (event) {
                if (!event.relatedTarget || !event.relatedTarget.closest(".info-icon__header")) {
                    section_guide.classList.remove("visible");
                }
            });
        });
    </script>


    {% include 'scripts/ssp_value_formatters.html.jinja2' %}

    <script>
        {%- if flamegraphs %}

            // Search logic for both mouseover and search bar
            searchBar = document.getElementById("flamegraph_search_all");

            {% for index in range(0, flamegraphs|length) %}
                function searchCallback{{index}}() {
                    let searchTerm = searchBar.value.trim();

                    lhs_{{index}}_reset_search();
                    if (searchTerm !== "") {
                        lhs_{{index}}_currentSearchTerm = searchBar.value;
                        lhs_{{index}}_search();
                    }

                    rhs_{{index}}_reset_search();
                    if (searchTerm !== "") {
                        rhs_{{index}}_currentSearchTerm = searchBar.value;
                        rhs_{{index}}_search();
                    }

                    lhs_diff_{{index}}_reset_search();
                    if (searchTerm !== "") {
                        lhs_diff_{{index}}_currentSearchTerm = searchBar.value;
                        lhs_diff_{{index}}_search();
                    }

                    rhs_diff_{{index}}_reset_search();
                    if (searchTerm !== "") {
                        rhs_diff_{{index}}_currentSearchTerm = searchBar.value;
                        rhs_diff_{{index}}_search();
                    }
                }
                if (searchBar) {
                    searchBar.addEventListener('input', searchCallback{{index}});
                    searchBar.addEventListener('keypress', function (e) {
                        if (e.key === 'Enter') {
                            searchCallback{{index}}();
                            this.blur();
                        }});
                }

                ["lhs", "rhs", "lhs_diff", "rhs_diff"].forEach(type => {
                    document.querySelectorAll(`#${type}_{{ index }}_frames g`).forEach(node => {
                        node.addEventListener("mouseenter", function () {
                            const textElement = node.querySelector("title");

                            if (textElement && textElement.innerHTML) {
                                let searchTerm = cleanTitle(textElement.innerHTML);

                                window[`lhs_{{index}}_search_hover`](searchTerm);
                                window[`rhs_{{index}}_search_hover`](searchTerm);
                                window[`lhs_diff_{{index}}_search_hover`](searchTerm);
                                window[`rhs_diff_{{index}}_search_hover`](searchTerm);
                            }
                        });

                        node.addEventListener("mouseleave", function () {
                            window[`lhs_{{index}}_reset_search_hover`]();
                            window[`rhs_{{index}}_reset_search_hover`]();
                            window[`lhs_diff_{{index}}_reset_search_hover`]();
                            window[`rhs_diff_{{index}}_reset_search_hover`]();
                        });
                    });
                });

            {%- endfor%}

            document.getElementById("flamegraph_search_reset_all").addEventListener("click", function () {
                {%- for index in range(0, flamegraphs|length) %}
                    const resetSearchBase = document.getElementById("lhs_{{ index }}_search");
                    const resetSearchTarget = document.getElementById("rhs_{{ index }}_search");
                    const resetSearchDiffBase = document.getElementById("lhs_diff_{{ index }}_search");
                    const resetSearchDiffTarget = document.getElementById("rhs_diff_{{ index }}_search");

                    const resetElements = [
                        resetSearchBase,
                        resetSearchTarget,
                        resetSearchDiffBase,
                        resetSearchDiffTarget,
                    ];

                    searchBar.value = "";
                    resetElements.forEach(el => {
                        if (el && el.classList.contains("show")) {
                            el.dispatchEvent(new Event("click", {bubbles: true}));
                        }
                    });
                {%- endfor %}
            });

            document.getElementById("flamegraph_zoom_reset_all").addEventListener("click", function () {
                {%- for index in range(0, flamegraphs|length) %}
                    const resetZoomBase = document.getElementById("lhs_{{ index }}_unzoom");
                    const resetZoomTarget = document.getElementById("rhs_{{ index }}_unzoom");
                    const resetZoomDiffBase = document.getElementById("lhs_diff_{{ index }}_unzoom");
                    const resetZoomDiffTarget = document.getElementById("rhs_diff_{{ index }}_unzoom");

                    const resetElements = [
                        resetZoomBase,
                        resetZoomTarget,
                        resetZoomDiffBase,
                        resetZoomDiffTarget,
                    ];

                    resetElements.forEach(el => {
                        if (el && !el.classList.contains("hide")) {
                            el.dispatchEvent(new Event("click", {bubbles: true}));
                        }
                    });
                {%- endfor %}
            });

            // Different types of flamegraph ordering switch
            const visualizationSwitch = document.getElementById("flamegraph_visualization_switch");
            visualizationSwitch.addEventListener("click", function () {
                const elements = document.querySelectorAll(".comparison_container_stacked");

                elements.forEach(element => {
                    const currentDirection = window.getComputedStyle(element).flexDirection;
                    if (currentDirection === "row") {
                        element.style.flexDirection = "column";
                    } else {
                        element.style.flexDirection = "row";
                    }
                });

                visualizationSwitch.querySelectorAll(".svg_switch_container").forEach(svg => {
                    svg.classList.toggle("hidden");
                    svg.classList.toggle("visible");
                });
            });

            function cleanTitle(title) {
                // strips the number of samples from the function names. Keeps the opening parenthesis symbol '('
                // to ensure exact match.
                let index = title.search(/\(\d/);
                if (index !== -1) {
                    title = title.slice(0, index) + '(';
                }
                return title;
            }

        {%- endif %}
    </script>

</body>
</html>