{% import 'macros_profile_overview.html.jinja2' as profile_overview %}
{% import 'macros_accordion.html.jinja2' as accordion %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        html {
            font-family: "Courier New", Courier, monospace;
        }
        .column {
            width: 48%;
            margin: 0 1%;
            float: left;
            justify-content: center;
        }
        .column-head {
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            text-align: center;
        }
        .clear {
            clear: both;
        }
        {{ profile_overview.css_style() }}
        {{ accordion.css_style() }}
    </style>
</head>
<body>

<div class="column">
    <h2 class="column-head">{{ lhs_tag }}</h2>
    {{ profile_overview.overview_table('toggleLeftCollapse', 'left-info', lhs_header, rhs_header) }}
    {{ profile_overview.top_n_table('toggleLeftTopCollapse', 'left-top', lhs_top, rhs_uids, "tgt") }}
    {{ lhs_flamegraph }}
</div>

<div class="column">
    <h2 class="column-head">{{ rhs_tag }}</h2>
    {{ profile_overview.overview_table('toggleRightCollapse', 'right-info', rhs_header, lhs_header) }}
    {{ profile_overview.top_n_table('toggleRightTopCollapse', 'right-top', rhs_top, lhs_uids, "base") }}
    {{ rhs_flamegraph }}
</div>

<div class="clear"></div>

<script>
{{ profile_overview.toggle_script('toggleLeftCollapse', 'left-info') }}
{{ profile_overview.toggle_script('toggleLeftTopCollapse', 'left-top') }}
{{ profile_overview.toggle_script('toggleRightCollapse', 'right-info') }}
{{ profile_overview.toggle_script('toggleRightTopCollapse', 'right-top') }}
{{ accordion.script("table-row") }}
</script>

</body>
</html>
