"""TODO: Write short docstring of the new postprocessor

TODO: Write long docstring of the new postprocessor
"""

SUPPORTED_PROFILES = ["{{ supported_types|join('\", \"') }}"]

{% if author is defined %}
__author__ = '{{ author }}'
{% endif %}
