<div id="traces" class="section">
    <div class="section_header">
        <span class="material-icons pin-icon pin-icon__header info-icon__header"
              data-tooltip="Click on a row to explore the results in a form of Sankey Graph (below the table).
            Click on [+] to open a detailed report about concrete calling contexts.
            Filter the results through select form on the bottom of table (for selected columns).">
            info
        </span>
        <h1>Traces Table</h1>
        <span class="material-icons pin-icon pin-icon__header" data-section="Traces Table">push_pin</span>
    </div>

    <table id="table" class="traces_table" style="width: 100%;">
        <thead>
            <tr>
                <th></th>
                <th>Unit</th>
                <th>Change</th>
                <th>Metric</th>
                <th>Absolute Δ</th>
                <th>Relative Δ</th>
            </tr>
        </thead>
        <tfoot style="display: table-header-group">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>
