{% macro general_comparison_container(type, section_id, records, notes_enabled=true) %}

    {% if records %}
        <div class="column {{ type }}">
            {%- for (key, value, title, nested_values) in records %}
                <div class="data-row">
                    <p class="data-key" title="{{ title }}">{{ key }}</p>
                    {{ notes_pin('%s > %s > %s' | format(section_id, type, key | striptags), "pin-icon", notes_enabled) }}
                    <p class="data-value">{{ value }}</p>
                </div>
            {%- endfor %}
        </div>
    {% else %}
        <h3>No {{ section_id }} for {{ type }} provided for this section</h3>
    {% endif %}

{%- endmacro %}


{% macro nested_comparison_container(type, section_id, records, notes_enabled=true) %}

    {% if records %}
        <div class="column {{ type }}">
            {%- for key, value in records.items() %}
                <div class="data-row">
                    <p class="data-key">{{ key }}</p>
                    {{ notes_pin('%s > %s > %s' | format(section_id, type, key | striptags), "pin-icon", notes_enabled) }}
                    <p class="data-value">{{ value }}</p>
                </div>
            {%- endfor %}
        </div>
    {% else %}
        <h3>No {{ section_id }} for {{ type }} provided for this section</h3>
    {% endif %}

{%- endmacro %}

{% macro display_title(title, section_name, info_text='', notes_enabled=true) %}
    <div class="section_header">
        {% if info_text %}
        <span class="pin-icon pin-icon__header info-icon__header"
              data-tooltip="{{ info_text }}">
            {% include 'assets/info.svg' %}
        </span>
        {% endif %}
        <h1>{{ title }}</h1>
        {{ notes_pin(section_name, "pin-icon pin-icon__header", notes_enabled) }}
    </div>
{%- endmacro %}

{% macro notes_pin(section_id, pin_class, notes_enabled) %}
    {% if notes_enabled %}
    <span id="{{ section_id }} -pin-item"
          class="{{ pin_class }}"
          data-section="{{ section_id }}">
        {% include 'assets/note.svg' %}
    </span>
    {% endif %}
{%- endmacro %}