{% macro nested_comparison_container(type, section_id, records) %}

    {% if records %}
        <div class="column {{ type }}">
            {%- for key, value in records.items() %}
                <div class="data-row">
                    <p class="data-key">{{ key }}</p>
                    <span class="material-icons pin-icon" data-section="{{ section_id }} > {{ type }} > {{ key | striptags }}">push_pin</span>
                    <p class="data-value">{{ value }}</p>
                </div>
            {%- endfor %}
        </div>
    {% else %}
        <h3>No {{ section_id }} }} for {{ type }} provided for this section</h3>
    {% endif %}

{%- endmacro %}