"""TODO: Write short docstring of the new postprocessor

TODO: Write long docstring of the new postprocessor
"""

import click

from perun.profile.factory import pass_profile


@click.command()
@pass_profile
def {{ unit_name }}(profile, **kwargs):
    """TODO: Write documentation of the CLI"""
    pass
