<div>
    <h2 id="division_anchor__baseline" class="tag-baseline division_anchor division_anchor__baseline">
        {{ lhs_tag }}
    </h2>
    <h2 id="division_anchor__target" class="tag-target division_anchor division_anchor__target">
        {{ rhs_tag }}
    </h2>
</div>