<div class="side-panel navigation-panel">
    <a href="#general">
        <span class="full_visible">
            {% include 'assets/home.svg' %}
        </span>
        <span class="side-panel__description">Environment</span>
    </a>
    <a href="#flame">
        <span class="full_visible">
            {% include 'assets/fire.svg' %}
        </span>
        <span class="side-panel__description">Flame Graphs</span>
    </a>
    <a href="#traces">
        <span class="full_visible">
            {% include 'assets/trace.svg' %}
        </span>
        <span class="side-panel__description">Traces Table</span>
    </a>
    <a href="#profile-vulnerabilities">
        <span class="full_visible">
            {% include 'assets/vulnerabilities.svg' %}
        </span>
        <span class="side-panel__description">Vulnerabilities</span>
    </a>
    <a href="#profile-stats">
        <span class="full_visible">
            {% include 'assets/stats.svg' %}
        </span>
        <span class="side-panel__description">Profile Stats</span>
    </a>
    <a href="#profile-metadata">
        <span class="full_visible">
            {% include 'assets/metadata.svg' %}
        </span>
        <span class="side-panel__description">Profile Metadata</span>
    </a>
</div>