{% macro empty_table(title, id) %}
    <div class="column top-traces-column">
        <h2 style="margin-bottom: 20px;">{{ title }}</h2>
        <div id="{{ id }}" style="max-height: 250px; overflow-y: auto; padding-right: 5px;">
            <!-- Content filled dynamically by JS -->
        </div>
    </div>
{% endmacro %}

{% macro empty_table_switchable(title, id) %}
    <div class="column top-traces-column">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
            <h2 style="margin: 0;">{{ title }}</h2>
            <label class="switch" style="font-size: 14px; display: flex; align-items: center; gap: 8px; cursor: pointer;">
                <input type="checkbox" id="{{ id }}-switch" onchange="toggleTable('{{ id }}')" checked style="cursor: pointer;">
                <span id="{{ id }}-switch-label">Descending</span>
            </label>
        </div>
        <div id="{{ id }}" style="max-height: 250px; overflow-y: auto; padding-right: 5px;">
            <!-- Content filled dynamically by JS -->
        </div>
    </div>
{% endmacro %}