.environment-sidepanel {
    left: 0;
    height: 45px;
    top: 20%;
    border-radius: 0 8px 8px 0;
}

.environment-sidepanel:hover {
    width: 30%;
    height: 500px;
    overflow: scroll;
}

.environment-sidepanel-content {
    display: none;
    color: var(--color-secondary);
    padding: 10px;
    width: 100%;
    flex-direction: column;
}

.environment-sidepanel:hover .environment-sidepanel-content {
    display: flex;
}

.environment-property {
    margin-bottom: 30px;
}

.environment-property h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin: 0;
    color: var(--color-white-not-changing);
}

.environment-values {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
    overflow: scroll;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.environment-values.collapsed {
    opacity: 0;
}

.toggle-arrow {
    font-size: 1em;
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.toggle-arrow svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    top: 2px;
}

.toggle-arrow.collapsed {
    transform: rotate(90deg);
}

.environment-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 5px;
    gap: 10px;
}

.environment-value .value {
    color: var(--color-white-not-changing);
    font-size: 0.9em;
    text-align: right;
    overflow: auto;
}
