.flamegraph_search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    font-weight: bold;
    color: var(--color-primary);
    background-color: var(--color-almost-white);
}

.flamegraph_search_input_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#flamegraph_visualization_switch {
    cursor: pointer;
}

.svg_switch_container {
    display: none;
}

.svg_switch_container.visible {
    display: inline-block;
}

.svg_switch_container.hidden {
    display: none;
}
