.page_footer {
    background-color: var(--color-primary);
    color: var(--color-secondary-text);
    width: 100%;
}

.page_footer a {
    color: var(--color-secondary-text);
    font-weight: bold;
}