.page_footer {
    background-color: var(--color-almost-black-not-changing);
    color: var(--color-white-not-changing);
    width: 100%;
}

.page_footer a {
    color: var(--color-white-not-changing);
    font-weight: bold;
}