:root {
    --color-baseline: rgba(80, 201, 206, 1);
    --color-target: rgba(152, 131, 229, 1);
    --color-common: rgba(239, 122, 133, 1);

    --color-baseline-transparent: rgba(80, 201, 206, 0.3);
    --color-target-transparent: rgba(152, 131, 229, 0.3);
    --color-common-transparent: rgba(248, 117, 117, 0.3);

    --color-text-tag: #FFFFFF;
    --color-mid-gray: #333;
    --color-mid-gray-hover: #444;

    --color-light-gray: #999999;
    --color-white-tinted: #DDDDDDFF;

    --color-correct: rgba(40, 167, 69);
    --color-wrong: rgba(220, 53, 69);
    --color-info: rgba(23, 162, 184);
    --color-warning: rgba(255, 193, 7);
    --color-bs-secondary: rgba(108, 117, 125);


    --color-correct-transparent: rgba(40, 167, 69, 0.3);
    --color-wrong-transparent: rgba(220, 53, 69, 0.3);
    --color-info-transparent: rgba(23, 162, 184, 0.3);
    --color-warning-transparent: rgba(255, 193, 7, 0.3);
    --color-bs-secondary-transparent: rgba(108, 117, 125, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 15px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: var(--color-mid-gray);
}

.baseline {
    background-color: #f9f9f9;
}

.target {
    background-color: #f0f4ff;
}

.highlight-diff-red {
    font-weight: bold;
    color: var(--color-wrong);
}

.highlight-diff-green {
    font-weight: bold;
    color: var(--color-correct);
}

.not-provided-box {
    padding: 10px;
    margin-top: 10px;
}