:root {
    --color-baseline: rgba(80 201 206);
    --color-target: rgba(152 131 229);
    --color-common: rgba(239 122 133);

    --color-baseline-bg-tint: rgba(249 249 249);
    --color-target-bg-tint: rgba(240 244 255);

    --color-baseline-transparent: rgba(80 201 206 / 30%);
    --color-target-transparent: rgba(152 131 229 / 30%);
    --color-common-transparent: rgba(248 117 117 / 30%);

    --color-primary: rgba(51 51 51);
    --color-primary-transparent: rgba(51 51 51 / 30%);
    --color-primary-hover: rgba(68 68 68);
    --color-bs-secondary: rgba(108 117 125);

    --color-primary-text: rgba(51 51 51);
    --color-secondary-text: rgba(215 215 215);

    --color-secondary: rgba(255 255 255);
    --color-secondary-hover: rgba(234 234 234);

    --color-white-tinted: rgba(215 215 215);
    --color-dark-white: rgba(190 190 190);
    --color-light-gray: rgba(153 153 153);

    --color-correct: rgba(40 167 69);
    --color-wrong: rgba(220 53 69);
    --color-info: rgba(23 162 184);
    --color-warning: rgba(255 193 7);

    --color-correct-transparent: rgba(40 167 69 / 30%);
    --color-wrong-transparent: rgba(220 53 69 / 30%);
    --color-info-transparent: rgba(23 162 184 / 30%);
    --color-warning-transparent: rgba(255 193 7 / 30%);
    --color-bs-secondary-transparent: rgba(108 117 125 / 30%);

    --dt-row-selected: 68, 68, 68 !important;
    --dt-row-selected-text: 234, 234, 234 !important;

    --color-bg-not-changing: rgba(68 68 68);
    --color-white-not-changing: rgba(234 234 234);
    --color-gray-not-changing: rgba(68 68 68);

    --color-almost-black-not-changing: rgba(28 28 28);
    --color-bg-dt-table: rgba(215 215 215);

    --color-sidepanel-bg: rgba(68 68 68);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 15px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 100px;
    background: var(--color-secondary);
}

body.light-theme {
    --color-primary: rgba(51 51 51);
    --color-primary-hover: rgba(68 68 68);

    --color-secondary: rgba(255 255 255);
    --color-secondary-hover: rgba(234 234 234);

    --color-primary-text: rgba(51 51 51);
    --color-secondary-text: rgba(215 215 215);

    --color-baseline-bg-tint: rgba(249 249 249);
    --color-target-bg-tint: rgba(240 244 255);

    --color-sidepanel-bg: rgba(68 68 68);
    --color-bg-dt-table: rgba(215 215 215);

    --color-wrong: rgba(220 53 69);
    --color-correct: rgba(40 167 69);
}

body.dark-theme {
    --color-primary: rgba(255 255 255);
    --color-primary-hover: rgba(234 234 234);

    --color-secondary: rgba(51 51 51);
    --color-secondary-hover: rgba(41 41 41);

    --color-primary-text: rgba(215 215 215);
    --color-secondary-text: rgba(51 51 51);

    --color-baseline-bg-tint: rgba(14 57 60);
    --color-target-bg-tint: rgba(31 37 51);

    --color-sidepanel-bg: rgba(96 96 96);
    --color-bg-dt-table: rgba(80 80 80);

    --color-wrong: rgba(255 137 148);
    --color-correct: rgba(97 255 136);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-primary);
}

p {
    margin-bottom: 0;
}

label {
    display: inline;
}

.baseline {
    background-color: var(--color-baseline-bg-tint);
}

.target {
    background-color: var(--color-target-bg-tint);
}

.highlight-diff-red {
    font-weight: bold;
    color: var(--color-wrong);
}

.highlight-diff-green {
    font-weight: bold;
    color: var(--color-correct);
}

.not-provided-box {
    padding: 10px;
    margin-top: 10px;
}

.full_visible {
    opacity: 1 !important;
    visibility: visible !important;
}

.fully_centered {
    display: flex;
    align-items: center;
    justify-content: center;
}