.grid_search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    font-weight: bold;
    color: var(--color-primary);
    background-color: var(--color-secondary-hover);
}

.grid_search_input_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid_layout_switch {
    cursor: pointer;
}

.grid_layout_switch span svg {
    fill: var(--color-primary-text);
}

.svg_switch_container {
    display: none;
}

.svg_switch_container.visible {
    display: inline-block;
}

.svg_switch_container.hidden {
    display: none;
}

.grid_btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-white-tinted);
    color: var(--color-gray-not-changing);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.9em;
}

.grid_btn:hover {
    background-color: var(--color-target-transparent);
    color: var(--color-target);
}
