:root {
    --slider-color-1: #ef4444;
    --slider-color-2: #f97316;
    --slider-color-3: #f59e0b;
    --slider-color-4: #fbbf24;
    --slider-color-5: #facc15;
    --slider-color-6: #c0eb34;
    --slider-color-7: #9cd62f;
    --slider-color-8: #6fc22a;
    --slider-color-9: #3aa825;
    --slider-color-10: #1a7f1a;
}

body.mono-theme {
    --slider-color-1: rgba(160, 160, 160);
    --slider-color-2: rgba(150, 150, 150);
    --slider-color-3: rgba(140, 140, 140);
    --slider-color-4: rgba(130, 130, 130);
    --slider-color-5: rgba(120, 120, 120);
    --slider-color-6: rgba(110, 110, 110);
    --slider-color-7: rgba(100, 100, 100);
    --slider-color-8: rgba(90, 90, 90);
    --slider-color-9: rgba(80, 80, 80);
    --slider-color-10: rgba(70, 70, 70);
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    background-color: var(--color-secondary);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    outline: 3px solid var(--color-primary-transparent);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.top-traces-column {
    outline: 3px solid var(--color-primary-transparent);
}

.slider-container:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

body.dark-theme .slider-container,
body.dark-theme .top-traces-column {
    background-color: var(--color-sidepanel-bg);
}

body.mono-theme .slider-container,
body.mono-theme .top-traces-column {
    background-color: var(--color-bg-btn-tinted);
    box-shadow: none;
}

body.mono-theme .slider-container:hover,
body.mono-theme .top-traces-column:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slider-title-wrapper {
    width: 100%;
    height: 4rem;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
}

/* Vertically centers 1-line strings if Javascript forces extreme heights on them */
.slider-container>h2[class*="color-segment"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.segments-wrapper {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    gap: 5px;
}

.segment {
    flex-grow: 1;
    height: 100%;
    border-radius: 5px;
}

.segment:nth-child(1) {
    background-color: var(--slider-color-1);
}

.segment:nth-child(2) {
    background-color: var(--slider-color-2);
}

.segment:nth-child(3) {
    background-color: var(--slider-color-3);
}

.segment:nth-child(4) {
    background-color: var(--slider-color-4);
}

.segment:nth-child(5) {
    background-color: var(--slider-color-5);
}

.segment:nth-child(6) {
    background-color: var(--slider-color-6);
}

.segment:nth-child(7) {
    background-color: var(--slider-color-7);
}

.segment:nth-child(8) {
    background-color: var(--slider-color-8);
}

.segment:nth-child(9) {
    background-color: var(--slider-color-9);
}

.segment:nth-child(10) {
    background-color: var(--slider-color-10);
}

.color-segment-1 {
    color: var(--slider-color-1) !important;
}

.color-segment-2 {
    color: var(--slider-color-2) !important;
}

.color-segment-3 {
    color: var(--slider-color-3) !important;
}

.color-segment-4 {
    color: var(--slider-color-4) !important;
}

.color-segment-5 {
    color: var(--slider-color-5) !important;
}

.color-segment-6 {
    color: var(--slider-color-6) !important;
}

.color-segment-7 {
    color: var(--slider-color-7) !important;
}

.color-segment-8 {
    color: var(--slider-color-8) !important;
}

.color-segment-9 {
    color: var(--slider-color-9) !important;
}

.color-segment-10 {
    color: var(--slider-color-10) !important;
}

.arrow-indicator {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid var(--color-primary-text);
    transform: translateX(-50%);
    z-index: 10;
}

.rating-display {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color-primary-text);
    margin-bottom: 20px;
}

@media (max-width: 640px) {
    .slider-container {
        padding: 15px;
        margin-bottom: 30px;
    }

    .segments-wrapper {
        height: 30px;
        gap: 3px;
    }

    .arrow-indicator {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid var(--color-primary-text);
        top: -20px;
    }

    .rating-display {
        font-size: 1rem;
    }
}