.pin-icon {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    font-size: 16px;
    cursor: pointer;
    color: var(--color-bs-secondary);
}

.pin-icon__header {
    position: unset;
    left: unset;
    scale: 1.5;
    opacity: 1;
    visibility: visible;
    color: var(--color-bs-secondary-transparent);
}
    .pin-icon__header:hover {
        color: var(--color-bs-secondary);
    }

.info-icon__header {
    color: var(--color-info-transparent);
}

.info-icon__header:hover {
    color: var(--color-info);
}

.data-row:hover .pin-icon,
.section-header:hover .pin-icon {
    visibility: visible;
    opacity: 1;
}