name: Ubuntu (build-&-test)

on:
  push:
    branches:
      - devel
  pull_request:
    branches:
      - devel

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python, Ubuntu and Python environment
        uses: ./.github/workflows/actions/setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Execute tests for Python ${{ matrix.python-version }} using Tox
        run: tox -e py

      - name: Generate docs for Python ${{ matrix.python-version }} using Tox
        run: |
          tox -e docs

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          flags: coverage-${{ matrix.python-version }}
          verbose: true